Repository cocart-headless/cocart-sdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cocart-headless/maintainers, @cocart-headless/core-team, @cocart-headless/testing-team, @cocart-headless/docs-team

docs: Comprehensive documentation improvements
  docs/api-design-patterns.md
  docs/api-field-filtering.md
  docs/architecture.md
  docs/currency-handling.md
  docs/error-handling.md
  docs/extending-sdk-functionality.md
  docs/faq.md
  docs/future-features.md
  docs/index.md
  docs/quick-start.md
  docs/timezone-handling.md
  docs/working-with-extended-responses.md
Owners: @cocart-headless/docs-team

feat: Implement BaseEndpoint class and improve error handling
  src/cocart-client.ts
  src/endpoints/base-endpoint.ts
  src/endpoints/cart.ts
  src/http/client.ts
  src/http/errors.ts
  src/types/index.ts
  src/utils/currency.ts
Owners: @cocart-headless/core-team

test: Add Docker-based testing infrastructure
  docker-compose.yml
  jest.config.js
  package-lock.json
  package.json
  scripts/run-docker-tests.sh
  scripts/wait-for-wordpress.sh
  tests/integration/basic.test.ts
  tests/mock/cart.test.ts
  tests/setup.ts
  tests/tsconfig.json
  tests/unit/utils/auth.test.ts
  tests/unit/utils/currency.test.ts
Owners: @cocart-headless/maintainers

docs: Update README with improved documentation links
  README.md
Owners: @cocart-headless/docs-team

docs: Remove outdated pre-release improvements document
  docs/pre-release-improvements.md
Owners: @cocart-headless/docs-team

docs: Update README with comprehensive HTTP Client and Pagination examples
  README.md
Owners: @cocart-headless/docs-team

Corrected documentation index file name.
  docs/README.md
  docs/api-design-patterns.md
  docs/api-field-filtering.md
  docs/architecture.md
  docs/currency-handling.md
  docs/error-handling.md
  docs/extending-sdk-functionality.md
  docs/faq.md
  docs/future-features.md
  docs/quick-start.md
  docs/timezone-handling.md
  docs/working-with-extended-responses.md
Owners: @cocart-headless/docs-team

Renamed the client for better identification
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  docs/api-design-patterns.md
  docs/api-field-filtering.md
  docs/architecture.md
  docs/currency-formatting.md
  docs/currency-handling.md
  docs/error-handling.md
  docs/examples/currency-formatting.js
  docs/examples/timezone-conversion.js
  docs/extending-sdk-functionality.md
  docs/faq.md
  docs/future-features.md
  docs/quick-start.md
  docs/timezone-handling.md
  docs/working-with-extended-responses.md
  examples/basic-usage.ts
  examples/extended-types.ts
  src/__tests__/http/client.test.ts
  src/cocart.ts
  src/endpoints/base-endpoint.ts
  src/endpoints/base.ts
  src/index.ts
  tests/integration/basic.test.ts
Owners: @cocart-headless/maintainers, @cocart-headless/docs-team, @cocart-headless/testing-team, @cocart-headless/core-team

Renamed the client for better identification - part 2
  .github/ISSUE_TEMPLATE/feature_request.md
  docs/examples/timezone-conversion.js
  docs/extending-sdk-functionality.md
  docs/faq.md
  docs/future-features.md
Owners: @cocart-headless/maintainers, @cocart-headless/docs-team

API prefix and name space correction
  README.md
  examples/basic-usage.ts
  examples/extended-types.ts
  src/cocart.ts
  src/types/index.ts
Owners: @cocart-headless/docs-team, @cocart-headless/maintainers, @cocart-headless/core-team

Few corrections I spotted
  examples/basic-usage.ts
  src/endpoints/items.ts
  src/endpoints/products.ts
  src/utils/cache.ts
Owners: @cocart-headless/maintainers, @cocart-headless/core-team

Custom authorization header name is now used if set
  src/cocart.ts
  src/http/client.ts
Owners: @cocart-headless/core-team

Fixed state of guest and registered customers for cart session
  src/cocart.ts
  src/endpoints/base-endpoint.ts
  src/endpoints/cart.ts
  src/http/client.ts
  src/http/errors.ts
  src/types/index.ts
Owners: @cocart-headless/core-team

Added first application of validation rather than waiting on API response for apps to be faster
  src/endpoints/cart.ts
  src/errors.ts
  src/utils/validation.ts
Owners: @cocart-headless/core-team

Updated some docs
  docs/architecture.md
  docs/cart-key-handling.md
Owners: @cocart-headless/docs-team

Updated basic authentication examples
  README.md
Owners: @cocart-headless/docs-team

Updated item request types
  src/types/index.ts
Owners: @cocart-headless/core-team

Added email and phone number validation
  src/endpoints/cart.ts
  src/utils/validation.ts
Owners: @cocart-headless/core-team

Added store endpoint
  src/endpoints/store.ts
  src/index.ts
Owners: @cocart-headless/core-team

Added proper customer login flow and JWT support
  docs/customer-authentication.md
  docs/quick-start.md
  examples/customer-auth.ts
  src/cocart.ts
  src/endpoints/customer.ts
  src/endpoints/session.ts
  src/index.ts
  src/types/auth.ts
Owners: @cocart-headless/docs-team, @cocart-headless/maintainers, @cocart-headless/core-team

Added framework adaptors.... not sure if correct
  packages/astro/.eslintrc.js
  packages/astro/README.md
  packages/astro/jest.config.js
  packages/astro/package.json
  packages/astro/src/index.ts
  packages/astro/tsconfig.json
  packages/astro/tsup.config.ts
  packages/next/.eslintrc.js
  packages/next/README.md
  packages/next/jest.config.js
  packages/next/package.json
  packages/next/src/index.ts
  packages/next/tsconfig.json
  packages/next/tsup.config.ts
  packages/remix/README.md
  packages/remix/package.json
  packages/remix/src/index.ts
  packages/remix/tsconfig.json
  packages/remix/tsup.config.ts
Owners: @cocart-headless/maintainers, @cocart-headless/docs-team

Corrections
  examples/basic-usage.ts
Owners: @cocart-headless/maintainers

Bumped eslint
  package.json
Owners: @cocart-headless/maintainers

Prettier cleanup
  src/__tests__/currency.test.ts
  src/__tests__/timezone.test.ts
  src/cocart.ts
  src/endpoints/base-endpoint.ts
  src/endpoints/cart.ts
  src/endpoints/customer.ts
  src/endpoints/items.ts
  src/endpoints/store.ts
  src/http/client.ts
  src/http/errors.ts
  src/index.ts
  src/types/index.ts
  src/types/utils.ts
  src/utils/currency.ts
  src/utils/timezone.ts
  src/utils/validation.ts
Owners: @cocart-headless/testing-team, @cocart-headless/core-team

Added more GitHub workflows, updated Funding file
  .github/FUNDING.yml
  .github/labels.json
  .github/workflows/community-label.yml
  .github/workflows/no-response.yml
  .github/workflows/scripts/is-community-contributor.js
  .github/workflows/stalebot.yml
  .github/workflows/sync-labels.yml
  .github/workflows/triage-label.yml
  .github/workflows/triage-replies.yml
Owners: @cocart-headless/maintainers

Updated README.md
  README.md
Owners: @cocart-headless/docs-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
* @cocart-headless/maintainers

# Core files
/src/ @cocart-headless/core-team

# Test files
/src/__tests__/ @cocart-headless/testing-team

# Documentation
*.md @cocart-headless/docs-team
/docs/ @cocart-headless/docs-team

# GitHub specific files
/.github/ @cocart-headless/maintainers

# Package configuration
/package.json @cocart-headless/maintainers
/tsconfig.json @cocart-headless/maintainers
/tsup.config.ts @cocart-headless/maintainers
